@model eBiblio.Models.Auteur
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Créer - Auteur";
}
<h2>Ajouter un auteur à la base de données</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 text-center">
                <input type="submit" value="Créer l'auteur" class="btn btn-warning" />
            </div>
        </div>
    </div>
}