@model eBiblio.ViewModels.ResultatRecherche
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rechercher";
}

<script type="text/javascript">
    function ErreurRecherche() {
        $("#resultats").html("Une erreur s'est produite lors de la recherche, veuillez réessayer ...");
    }
</script>

<h1>Votre recherche</h1>

@using (Ajax.BeginForm("Resultats", new AjaxOptions
{
    HttpMethod = "GET",                         // Methode HTTP
    InsertionMode = InsertionMode.Replace,      // Methode AJAX
    UpdateTargetId = "resultats",               // Propriété id de balise div du RenderAction
    OnFailure = "ErreurRecherche",              // Fonction
    LoadingElementId = "chargement"             // Propriété id de balise img
}))
{
    @Html.TextBoxFor(m => m.recherche);
    <img id="chargement" src="~/Content/Images/ajax-loader(realisé sur www.ajaxload.info).gif" style="display: none" alt="Chargement en cours..." />
    <input type="submit" class="btn btn-info" value="Rechercher sans recharger la page entière" />
    <p>Vue principale : @DateTime.Now.ToLongTimeString()</p>

    <div id="resultats">
        @{Html.RenderAction("Resultats", "Rechercher", Model);}
    </div>
}

<!-- Si on ne veut pas implémenter le second formulaire Ajax

@{Html.RenderAction("Resultats", "Rechercher", Model);}

-->
