@model eBiblio.ViewModels.LivresPourUnAuteur
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Afficher - Les livres d'un auteur";
}
<h1>Les livres de <strong>@Model.Auteur.Nom</strong></h1>
<table class="table table-bordered">
    <tr>
        <th>Titre du livre</th>
        <th>Date de parution</th>
    </tr>
    @foreach (eBiblio.Models.Livre livre in Model.ListeLivres)
    {
        <tr>
            <td>@livre.Titre</td>
            <td>@livre.DateDeParution.ToString("dd / MM / yyyy")</td>
        </tr>
    }
</table>
