@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Afficher - Liste des livres";
}

<script type="text/javascript">
    function ErreurListeLivres() {
        $("#listeLivres").html("Une erreur s'est produite lors de la mise à jour, veuillez réessayer ...");
    }
</script>

<h1>Liste des Livres de la bibliothèque</h1>
<p>Clique sur le titre du livre pour voir sa fiche et le modifier</p>
<div id="listeLivres">
    @{
        Html.RenderAction("ListeLivres");
    }
</div>
    
@Ajax.ActionLink("Actualiser la liste", "ListeLivres", "Afficher", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listeLivres",
    HttpMethod = "GET",
    OnFailure = "ErreurListeLivres" // En cas d'erreur sur la requête AJAX
})
<p>Vue normale avec Ajax.ActionLink : @DateTime.Now.ToLongTimeString()</p>
